<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.CartMapper">


    <select id="countPrice" resultType="Integer">
        SELECT SUM(c.cnt * it.price)
        FROM cart c, item it
        WHERE c.item_id = it.id
    </select>

    <select id="countCart" resultType="Integer">
        SELECT SUM(cnt) FROM Cart;
    </select>

    <select id="select" parameterType="int" resultType="Cart">
        SELECT c.id, c.cust_id, c.item_id, c.cnt, c.rdate
             , cu.name AS cust_name, it.name As item_name
             , it.price AS item_price, it.imgname AS item_imgname
        FROM cart c, cust cu, item it
        WHERE c.cust_id = cu.id
        AND c.item_id=it.id
        AND c.id=#{id}
    </select>
    <select id="getmycart" parameterType="String" resultType="cart">
        SELECT c.id, c.cust_id, c.item_id, c.cnt, c.rdate
             , cu.name AS cust_name, it.name As item_name
             , it.price AS item_price, it.imgname AS item_imgname
        FROM cart c, cust cu, item it
        WHERE c.cust_id = cu.id
        AND c.item_id=it.id
        AND c.cust_id=#{cid}
        </select>
    <select id="selectall" resultType="Cart">
        SELECT c.id, c.cust_id, c.item_id, c.cnt, c.rdate
             , cu.name AS cust_name, it.name As item_name
             , it.price AS item_price, it.imgname AS item_imgname
        FROM cart c, cust cu, item it
        WHERE c.cust_id = cu.id
          AND c.item_id=it.id
    </select>
    <insert id="insert" parameterType="Cart">
        INSERT INTO cart VALUES (cart_seq.NEXTVAL,#{cust_id},#{item_id},#{cnt},SYSDATE)
    </insert>
    <update id="update" parameterType="Cart">
        UPDATE cart SET CUST_ID=#{cust_id},ITEM_ID=#{item_id},CNT=#{cnt},RDATE=SYSDATE WHERE id=100
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM cart WHERE id=#{i}
    </delete>


</mapper>